@model IEnumerable<RNTA2.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*Html.ActionLink("Create New", "Create")*@
    <button class="btn btn-success create">Creer un nouveau patient<i class="glyphicon glyphicon-open"></i></button>
    @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
    {
        <table>
            <tr>
                <th>
                    @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
                    <input type="submit" name="submit" value="Rechercher" />
                </th>
                <th>
                    <input type="text" name="search" placeholder="Mots-clés..." />
                    <input type="submit" name="submit" value="Rechercher" />
                </th>
            </tr>
        </table>

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @if (User.IsInRole("admin"))
                {
                    @*Html.ActionLink("Edit", "Edit", new { id = item.EmpId })*@
                    <button class="btn btn-primary edit" data-id="@item.EmpId"><i class="glyphicon glyphicon-edit"></i></button>

                }

                @*Html.ActionLink("Details", "Details", new { id = item.EmpId })*@
                @*Html.ActionLink("Delete", "Delete", new { id = item.EmpId })*@
                <button class="btn btn-success details" data-id="@item.EmpId"><i class="glyphicon glyphicon-file"></i></button>
                <button class="btn btn-danger delete" data-id="@item.EmpId"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
    }

</table>

<div id="modal" class="modal fade modal-lg " role="dialog"  tabindex="-1" style="background-color: white; position: fixed;
left: 25%;"/>

@section scripts{
    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                
                $("#modal").load("Details?id=" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                
                $("#modal").load("Edit?id=" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                
                $("#modal").load("Delete?id=" + id, function () {
                    $("#modal").modal();
                })
            });

           $(".create").click(function () {
                $("#modal").load("Create", function () {
                    $("#modal").modal();
                })
            });

        })


    </script>
}